<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
    <title>로그인 페이지</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>로그인 폼</h2>
    </div>
    <h4 class="mb-3">로그인</h4>
    <form action="loginForm.html" th:action="@{/members}" method="post">
        <div>
            <label for="userEmail">이메일</label>
            <input type="email" id="userEmail" name="userEmail" class="form-control" placeholder="이메일을 입력하세요">
        </div>
        <div>
            <label for="userPw">비밀번호</label>
            <input type="password" id="userPw" name="userPw" class="form-control" placeholder="비밀번호를 입력하세요">
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">로그인</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/item}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>