<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/items.css}"
        href="/css/items.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{user/component :: navbar}"></div>
<div class="container">
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">EditForm</h3></div>
                <div class="card-body">
                    <div class="form-floating mb-3">
                      <input class="form-control" id="inputUserId" type="hidden" name="userId" th:value="${member.userId}" readonly placeholder="name@example.com" />
                      <label for="inputUserId"></label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="inputUserEmail" type="email" name="userEmail" th:value="${member.userEmail}" readonly placeholder="Password" />
                      <label for="inputUserEmail">Email</label>
                    </div>
                    <!--<div class="form-floating mb-3">
                        <input class="form-control" id="inputPassword" type="password" placeholder="Password" />
                        <label for="inputPassword">Password</label>
                    </div>-->
                    <div class="form-floating mb-3">
                      <input class="form-control" id="inputUserName" type="text" name="userName" th:value="${member.userName}" readonly placeholder="Password" />
                      <label for="inputUserName">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="inputUserPhone" type="tel" name="userPhone" th:value="${member.userPhone}" readonly placeholder="phone" />
                      <label for="inputUserPhone">phone</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="inputUserAddr" type="text" name="userAddr" th:value="${member.userAddr}" readonly placeholder="Addr" />
                      <label for="inputUserAddr">Addr</label>
                    </div>
                    <div th:if="${session.userEmail}=='admin@admin.com'">
                      <div class="form-floating mb-3">
                        <input class="form-control form-select" name="userGrade" id="userGrade"
                                th:field="${member.userGrade}" th:value="${member.userGrade}" readonly>
                          <!--<option th:value="'A'" th:text="A"></option>
                          <option th:value="'B'" th:text="B"></option>
                          <option th:value="'C'" th:text="C"></option>-->
                        <label for="userGrade">회원 등급</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input class="form-control form-select" name="userStatus" id="userStatus"
                                th:field="${member.userStatus}" th:value="${member.userStatus}" readonly>
                          <!--<option th:value="true" th:text="정상"></option>
                          <option th:value="false" th:text="정지"></option>-->
                        <label for="userStatus">정지 여부</label>
                      </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end mt-4 mb-0">
                      <button class="btn btn-primary"
                              onclick="location.href='editForm.html'"
                              th:onclick="|location.href='@{/members/{userId}/editForm(userId=${member.userId})}'|"
                              type="button">Edit</button>
                      <button class="btn btn-secondary"
                              style="margin-left: 0.5rem;"
                              onclick="location.href='items.html'"
                              th:if="${session.userEmail}!='admin@admin.com'"
                              th:onclick="|location.href='@{/}'|" type="button">목록으로</button>
                      <button class="btn btn-secondary"
                              style="margin-left: 0.5rem;"
                              onclick="location.href='items.html'"
                              th:if="${session.userEmail}=='admin@admin.com'"
                              th:onclick="|location.href='@{/admin}'|" type="button">회원목록</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div> <!-- /container -->
<div th:replace="~{user/notifications :: notify}"></div>
</body>
</html>