<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/items.css}"
          href="/css/items.css" rel="stylesheet">

    <title>상품 등록 페이지</title>
</head>
<body>
<div th:replace="~{user/component :: navbar}"></div>
<div class="container">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">상품등록</h3></div>
                                <div class="card-body">
                                    <form action="item.html" th:action="@{/item/add}" method="post" enctype="multipart/form-data">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="sellerId" name="sellerId" type="text" th:value="${session.userName}" readonly/>
                                            <label for="sellerId">NickName</label>
                                            <input type="hidden" id="userEmail" name="userEmail" class="form-control" placeholder="유저 이메일을 입력하세요" th:value="${session.userEmail}" readonly>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="itemName" name="itemName" type="text" placeholder="상품명" />
                                            <label for="itemName">상품명</label>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="price" type="number" name="price" placeholder="가격" />
                                                    <label for="price">가격</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="quantity" type="number" name="quantity" placeholder="수량" />
                                                    <label for="quantity">수량</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="descriptionDetail" name="descriptionDetail" type="text" placeholder="상세 설명"/>
                                            <label for="descriptionDetail">상품설명</label>
                                        </div>
                                        <div class="input-group mb-3">
                                            <input class="form-control" id="imageDetail" name="imageName" type="file" placeholder="상품이미지"/>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-evenly mt-4 mb-0">
                                            <div class="w-25 d-grid"><button class="btn btn-primary btn-block" type="submit">상품 등록</button></div>
                                            <button class="w-25 btn btn-secondary"
                                                    onclick="location.href='items.html'"
                                                    th:onclick="|location.href='@{/}'|"
                                                    type="button">돌아가기</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div> <!-- /container -->
<div th:replace="~{user/notifications :: notify}"></div>
</body>
</html>