<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div th:if="${memberEmail}">
        <form th:action="@{/members/logout}" method="post">
            <button type="submit" class="w-100 btn btn-dark btn-lg">로그아웃</button>
        </form>
    </div>
    <div class="py-5 text-center">
        <h2>상품 상세</h2>
    </div>

    <!--    -->
    <h2 th:if="${param.status}" th:text="저장완료"></h2>
    <div>
        <label for="itemId">상품 ID</label>
        <input type="text" id="itemId" name="itemId" class="form-control"
               value="1" th:value="${item.itemId}" readonly>
    </div>
    <div>
        <label for="itemName">상품명</label>
        <input type="text" id="itemName" name="itemName" class="form-control"
               value="상품A"
               th:value="${item.itemName}" readonly>
    </div>
    <div>
        <label for="price">가격</label>
        <input type="text" id="price" name="price" class="form-control"
               value="10000"
               th:value="${item.price}" readonly>
    </div>
    <div>
        <label for="quantity">수량</label>
        <input type="text" id="quantity" name="quantity" class="form-control"
               value="10"
               th:value="${item.quantity}" readonly>
    </div>
    <div>
        <label for="description">설명</label>
        <input type="text" id="description" name="description" class="form-control"
               value=""
               th:value="${item.descriptionDetail}" readonly>
    </div>
    <div>
        <img th:src="@{/item/itemimage/{filename}(filename=${item.imageDetail != null ? item.imageDetail : 'default.png'})}" alt="상품 이미지">
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/item/{itemId}/edit(itemId=${item.itemId})}'|"
                    type="button">상품 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/}'|" type="button">목록으로</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>