<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/items.css}"
          href="/css/items.css" rel="stylesheet">
    <style>
        .image-center-custom{
            text-align: center;
        }

        .image-size-custom {
            width: 15rem;
            height: 15rem;
            object-fit: contain;
        }

    </style>
    <title>상품 등록 페이지</title>
</head>
<body>
<div th:replace="~{user/component :: navbar}"></div>
<!--<div th:replace="~{user/component :: header}"></div>-->

<!-- Section-->
<section class="py-3">
    <div class="container px-4 px-lg-5 mt-5">
        <!--검색, 페이징-->
        <div th:fragment="searchPagination" class="d-flex justify-content-between">
            <!-- 검색창 -->
            <div class="w-50">
                <form class="input-group mb-3 search-form" th:action="@{/item/search}">
                    <input type="text" id="inputItemName" class="form-control" name="searchName" placeholder="키워드를 입력하세요" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">검색</button>
                </form>
            </div>
            <!-- 페이징 -->
            <nav>
                <ul class="pagination">
                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/item/search(page=${currentPage - 1}, size=4, searchName=${searchName})}">이전</a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
                        th:classappend="${i == currentPage} ? 'active'">
                        <a class="page-link" th:href="@{/item/search(page=${i}, size=4, searchName=${searchName})}" th:text="${i}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                        <a class="page-link" th:href="@{/item/search(page=${currentPage + 1}, size=4, searchName=${searchName})}">다음</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" th:each="itemInfo : ${itemAuctions}">
                <div class="card h-100">
                    <!-- 상품이미지, 상품명, 가격, 수량, 설명,  -->
                    <!-- 진행이끝난상품은 자동삭제, 관리자 삭제 -->
                    <!-- Product image-->
                    <div class="image-center-custom"><img class="card-img-top image-size-custom" th:src="@{/item/itemimage/{filename}(filename=${itemInfo.item.imageDetail != null ? itemInfo.item.imageDetail : 'default.png'})}" alt="상품 이미지" /></div>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- 상품명-->
                            <h1 class="fw-bolder" >
                                <a href="item.html"
                                   th:href="@{/item/{itemId}(itemId=${itemInfo.item.itemId})}"
                                   th:text="${itemInfo.item.itemName}"
                                   style="text-decoration: none;">상품명</a>
                            </h1>
                            <!-- 가격-->
                            <h5><a th:href="@{/item/{sellerId}/sellerItems(sellerId=${itemInfo.item.sellerId})}" th:text="${itemInfo.item.sellerId}" style="text-decoration: none;">판매자</a></h5>
                            <h5 th:text="${itemInfo.item.price} + '원'">가격격</h5>
                            <h5 th:text="${itemInfo.item.quantity} + '개'">수량</h5>
                            <h5 th:text="${itemInfo.item.descriptionDetail}">설명</h5>
                            <!--                            <h5 th:text="${itemInfo.auction.itemStatus}">진행상황</h5>-->
                            <form th:if="${session.userEmail} == 'admin@admin.com'"
                                  th:action="@{/item/{itemId}/delete(itemId=${itemInfo.item.itemId})}" method="post">
                                <button type="submit" class="btn btn-outline-dark mt-auto">
                                    삭제하기
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{user/notifications :: notify}"></div>
<script>
    function findByItemName() {
        const itemName = document.getElementById('inputItemName').value;
        if(itemName === null) {
            alert('키워드를 입력하세요')
            return;
        }
        fetch(`item/search/${itemName}`, {
            method: 'POST',
            headers: {
                'Content-Type' : 'application/json'
            }
        }).then(response => response.json())
            .then(date => {

            })
    }

    function searchItem() {
        const searchName = document.getElementById('inputItemName').value;
        if(!searchName) {
            alert('검색어를 입력하세요');
            return;
        }
        window.location.href = `/item/search/${encodeURIComponent(searchName)}`;
    }
</script>
</body>
</html>