<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/items.css}"
        href="/css/items.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{user/component :: navbar}"></div>
<div class="container">
  <div class="py-2 text-center">
    <h2>회원 목록</h2>
  </div>
  <hr class="my-4">
  <!-- 검색창 -->
  <div class="w-50">
    <form class="input-group mb-3 search-form" th:action="@{/admin/search}">
      <input type="text" id="inputItemName" class="form-control" name="searchName" placeholder="키워드를 입력하세요" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">검색</button>
    </form>
  </div>
  <!-- 페이징 -->
  <nav>
    <ul class="pagination">
      <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
        <a class="page-link" th:href="@{/admin/search(page=${currentPage - 1}, size=4, searchName=${searchName})}">이전</a>
      </li>
      <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
          th:classappend="${i == currentPage} ? 'active'">
        <a class="page-link" th:href="@{/admin/search(page=${i}, size=4, searchName=${searchName})}" th:text="${i}">1</a>
      </li>
      <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
        <a class="page-link" th:href="@{/admin/search(page=${currentPage + 1}, size=4, searchName=${searchName})}">다음</a>
      </li>
    </ul>
  </nav>
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>회원번호</th>
        <th>이메일</th>
        <th>이름</th>
        <th>핸드폰번호</th>
        <th>주소</th>
        <th>회원등급</th>
        <th>가입일자</th>
        <th>정지여부</th>
        <th>수정하기</th>
        <th>회원삭제</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="member : ${content}">
        <td th:text="${member.userId}"></td>
        <td th:text="${member.userEmail}"></td>
        <td th:text="${member.userName}"></td>
        <td th:text="${member.userPhone}"></td>
        <td th:text="${member.userAddr}"></td>
        <td th:text="${member.userGrade}"></td>
        <td th:text="${member.joinDate}"></td>
        <td th:text="${member.userStatus}?'정상':'정지'"></td>
        <td><button class="btn btn-primary" style="width:80%;" th:onclick="|location.href='@{/members/{userId}/edit(userId=${member.userId})}'|">수정하기</button></td>
<!--        <td><button class="w-50 btn btn-primary btn-lg" th:onclick="|location.href='@{/admin/{userId}/deleteMember(userId=${member.userId})}'|">회원삭제</button></td>-->
        <td><button class="btn btn-primary" style="width:80%;" th:onclick="deleteMember([[${member.userId}]])">회원삭제</button></td>
      </tr>
      </tbody>
    </table>

    <button class="w-25 btn btn-secondary btn-lg item-detail-btn-group-custom"
            onclick="location.href='items.html'"
            th:onclick="|location.href='@{/}'|" type="button">목록으로</button>
  </div>
</div>
<div th:replace="~{user/notifications :: notify}"></div>
<script>
  function deleteMember(userId) {
    if(!confirm('정말 삭제하시겠습니까?')) return;
    fetch(`/admin/${userId}/deleteMember`, {
      method: 'POST',
      headers: {
        'Content-Type' : 'application/json'
      }
    }).then(response => {
      if(response.redirected) {
        window.location.href = response.url;
      } else if(response.ok) {
        alert("삭제 완료");
        window.location.reload();
      } else {
        alert("삭제 실패");
      }
    })
  }
</script>
</body>
</html>