<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{/css/items.css}"
        href="/css/items.css" rel="stylesheet">
  <title>component</title>
</head>
<body>
<!-- Navigation-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" th:href="@{/}" href="#!">JAS</a>
    <button class="navbar-toggler" th:onclick="|location.href='@{/}'|" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <!--<li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#!">All Products</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
            <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
          </ul>
        </li>-->
      </ul>
      <button class="btn btn-outline-secondary btn-custom"
              type="button"
              onclick="location.href='loginForm.html'"
              th:onclick="|location.href='@{/members}'|"
              th:unless="${isLoggedIn}">
        로그인
      </button>
      <button class="btn btn-outline-secondary btn-custom"
              onclick="location.href='joinForm.html'"
              th:onclick="|location.href='@{/members/joinMember}'|"
              type="button"
              th:unless="${isLoggedIn}">
        회원 가입
      </button>
      <button class="btn btn-secondary btn-custom"
              onclick="location.href='addForm.html'"
              th:onclick="|location.href='@{/item/add}'|"
              type="button"
              th:if="${isLoggedIn}">
        상품등록
      </button>
      <button class="btn btn-outline-secondary btn-custom"
              type="button"
              onclick="location.href='loginForm.html'"
              th:onclick="|location.href='@{/user/dmList/{userEmail}(userEmail=${session.userEmail})}'|"
              th:if="${isLoggedIn}">
        채팅목록
      </button>
      <button class="btn btn-outline-secondary btn-custom"
              onclick="location.href='admin.html'"
              th:onclick="|location.href='@{/admin}'|"
              type="button"
              th:if="${session.userEmail}=='admin@admin.com'">
        관리자 페이지
      </button>
      <button class="btn btn-outline-secondary btn-custom"
              onclick="location.href='joinForm.html'"
              th:onclick="|location.href='@{/members/{userId}/edit(userId=${session.userId})}'|"
              type="button"
              th:if="${isLoggedIn}">
        정보수정
      </button>
      <div class="logout-custom" th:if="${isLoggedIn}">
        <form class="d-flex" th:action="@{/members/logout}" method="post">
          <button class="btn btn-secondary btn-custom" type="submit">
            <span style="color: white;">로그아웃</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>
<!-- 검색, 페이징-->
<div th:fragment="searchPagination" class="d-flex justify-content-between">
  <!-- 검색창 -->
  <div class="w-50">
    <form class="input-group mb-3 search-form" th:action="@{/item/search}">
      <input type="text" id="inputItemName" class="form-control" name="searchName" placeholder="키워드를 입력하세요" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">검색</button>
    </form>
  </div>
  <!-- 페이징 -->
  <nav>
    <ul class="pagination">
      <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
        <a class="page-link" th:href="@{/item(page=${currentPage - 1}, size=4)}">이전</a>
      </li>
      <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
          th:classappend="${i == currentPage} ? 'active'">
        <a class="page-link" th:href="@{/item(page=${i}, size=4)}" th:text="${i}">1</a>
      </li>
      <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
        <a class="page-link" th:href="@{/item(page=${currentPage + 1}, size=4)}">다음</a>
      </li>
    </ul>
  </nav>
  <script>
    function findByItemName() {
      const itemName = document.getElementById('inputItemName').value;
      if(itemName === null) {
        alert('키워드를 입력하세요')
        return;
      }
      fetch(`item/search/${itemName}`, {
        method: 'POST',
        headers: {
          'Content-Type' : 'application/json'
        }
      }).then(response => response.json())
              .then(date => {

              })
    }

    function searchItem() {
      const searchName = document.getElementById('inputItemName').value;
      if(!searchName) {
        alert('검색어를 입력하세요');
        return;
      }
      window.location.href = `/item/search/${encodeURIComponent(searchName)}`;
    }
  </script>
</div>
<!--header-->
<header th:fragment="header" class="bg-dark py-3">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Shop in style</h1>
      <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
    </div>
  </div>
</header>
</body>
</html>