<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{/css/items.css}"
        href="/css/items.css" rel="stylesheet">
  <title>header section</title>
</head>
<body>
<!-- Navigation-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" th:href="@{/}" href="#!">Start Bootstrap</a>
    <button class="navbar-toggler" th:onclick="|location.href='@{/}'|" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#!">All Products</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
            <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
          </ul>
        </li>
      </ul>
      <button class="btn btn-outline-secondary btn-custom"
              type="button"
              onclick="location.href='loginForm.html'"
              th:onclick="|location.href='@{/members}'|"
              th:unless="${isLoggedIn}">
        로그인
      </button>
      <button class="btn btn-outline-secondary btn-custom"
              onclick="location.href='joinForm.html'"
              th:onclick="|location.href='@{/members/joinMember}'|"
              type="button"
              th:unless="${isLoggedIn}">
        회원 가입
      </button>
      <button class="btn btn-secondary btn-custom"
              onclick="location.href='addForm.html'"
              th:onclick="|location.href='@{/item/add}'|"
              type="button"
              th:if="${isLoggedIn}">
        상품등록
      </button>
      <button class="btn btn-outline-secondary btn-custom"
              onclick="location.href='admin.html'"
              th:onclick="|location.href='@{/admin}'|"
              type="button"
              th:if="${session.userEmail}=='admin@admin.com'">
        관리자 페이지
      </button>
      <button class="btn btn-outline-secondary btn-custom"
              onclick="location.href='joinForm.html'"
              th:onclick="|location.href='@{/members/{userId}/edit(userId=${session.userId})}'|"
              type="button"
              th:if="${isLoggedIn}">
        정보수정
      </button>
      <div class="logout-custom" th:if="${isLoggedIn}">
        <form class="d-flex" th:action="@{/members/logout}" method="post">
          <button class="btn btn-secondary btn-custom" type="submit">
            <span style="color: white;">로그아웃</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>

<!--header-->
<header th:fragment="header" class="bg-dark py-3">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Shop in style</h1>
      <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
    </div>
  </div>
</header>
</body>
</html>