<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<th>삭제</th>(수정)경매에 등록된 물품은 삭제할 수 없다-->
<!--                <td th:if="${session.userEmail} != ${null} and ${item.userEmail}==${session.userEmail}">
                    <form th:action="@{/item/{itemId}/delete(itemId=${item.itemId})}" method="post">
                        <button type="submit" class="btn btn-primary float-end">
                            삭제하기
                        </button>
                    </form>
                </td> (수정)경매에 등록된 물품은 삭제할 수 없다-->
</body>
</html>