<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="figureauction.figureauction.mapper.AdminMapper">

    <select id="memberList" resultType="member">
        select * from members
        ORDER BY join_date desc
        LIMIT #{limit} OFFSET #{offset};
    </select>

    <select id="countMemberList" resultType="int">
        select count(*) from members
    </select>

    <delete id="deleteMember">
        delete from members where user_id=#{userId}
    </delete>
</mapper>