<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="figureauction.figureauction.mapper.ChatMapper">

    <select id="saveMessage">
        INSERT INTO chat_messages (sender, recipient, message, timestamp)
        VALUES (#{sender}, #{recipient}, #{message}, #{timeStamp})
    </select>

    <select id="findBySenderReceiver" resultType="ChatMessageEntity">
        SELECT *
        FROM chat_messages
        WHERE (sender=#{sender} AND recipient=#{recipient}) OR (sender=#{recipient} AND recipient=#{sender})
        ORDER BY timestamp ASC
    </select>
</mapper>