<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="figureauction.figureauction.mapper.ItemMapper">
    <insert id="saveItem" useGeneratedKeys="true" keyProperty="itemId" parameterType="Item">
        insert into item (item_id, seller_id, user_email, item_name, price, quantity, description_detail, image_Detail)
        values (null, #{sellerId}, #{userEmail}, #{itemName}, #{price}, #{quantity},
        #{descriptionDetail}, #{imageDetail})
    </insert>

    <select id="findAll" resultType="Item">
        select * from item
    </select>

    <select id="findOne" resultType="Item" parameterType="long">
        select * from item where item_id = #{itemId}
    </select>

    <select id="findBySellerId" resultType="Item">
        select * from item where seller_id=#{sellerId}
    </select>

    <update id="update">
        update item set item_name=#{item.itemName}, price=#{item.price}, quantity=#{item.quantity}, description_detail=#{item.descriptionDetail}, image_detail=#{item.imageDetail}
        where item_id = #{id}
    </update>

    <update id="bidUpdate">
        update item set price=#{price} where item_id=#{id}
    </update>

    <delete id="deleteItem">
        delete from item where item_id=#{id}
    </delete>
</mapper>