<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="figureauction.figureauction.mapper.ItemMapper">
    <insert id="saveItem" useGeneratedKeys="true" keyProperty="itemId">
        insert into item (item_id, seller_Id, item_Name, price, quantity, description_detail, image_detail)
        values (null, #{sellerId}, #{itemName}, #{price}, #{quantity},
        #{descriptionDetail},#{imageDetail})
    </insert>

    <select id="findAll" resultType="item">
        select * from item
    </select>
</mapper>